<a href="https://colab.research.google.com/github/navyaravi/INFO_5731_Spring_2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [2]:
a="My name is Navya"
print(len(a))

16

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
def character_count(str1):
  dict = {}
  for n in str1:
    keys=dict.keys()
    if n in keys:
      dict[n] += 1
    else:
      dict[n] = 1
  return dict

character_count("google.com")

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list. (2 points)

In [20]:
# write your answer here

a = [1,2,3,4,5]
total = 0

for i in range(0,len(a)):
    total = total + a[i]

print('The sum of all the items in the list:', total)

The sum of all the items in the list: 15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [29]:
# write your answer here
sample = 'restart'
first_one = sample[0]

sample = sample.replace(first_one,'$')
sample = first_one + sample[1:]
print(sample)

resta$t
esta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [45]:
# write your answer here

a = input("Enter the value of a:")
b = input("Enter the value of b:")

c = int(a)/int(b)
#print(c)
d = 1 + c
#print(d)
e = pow(d,3)
#print(e)
s = 3.14 * e
print ("The calculated value of s:",s)

Enter the value of a:2
Enter the value of b:3
The calculated value of s: 14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [48]:
# write your answer here

dict1 = {1:10,2:20}
dict2 = {3:30,4:40}
dict3 = {5:50,6:60}
dict4 = {**dict1,**dict2,**dict3}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [53]:
# write your answer here
sample = ('N','a','v','y','a','p','r','i','y','a','apple','Mango',2,3,4)
print("r" in sample)
print("z" in sample)
print("apple" in sample)
print("banana" in sample)
print(5 in sample)

True
False
True
False
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [60]:
# write your answer here
sample_set = {1,2,3,4,5,6,7,8}
print("The maximum value in set:",max(sample_set))
print("The minimum value in set:",min(sample_set))

The maximum value in set: 8
The minimum value in set: 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [69]:
# write your answer here
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

for i in range(5):
  sampling =random.choices(studnet_list, k=5)
  studnet_list = [i for i in studnet_list if i not in sampling]
  print("Group " +str(i+1)+": ",sampling)

Group 1:  ['nm0547', 'pn0159', 'snd0097', 'mv0299', 'spk0057']
Group 2:  ['pc0353', 'vl0135', 'yye0005', 'vl0135', 'vmb0067']
Group 3:  ['at0768', 'at0739', 'dd0420', 'tv0119', 'sg0940']
Group 4:  ['rs0850', 'ss1995', 'rs0850', 'dy0091', 'bk0301']
Group 5:  ['rrk0058', 'ds0761', 'rak0120', 'rak0120', 'rak0120']